#titulo{
background-color: #ae1c1c;
text-align: center;
display: flex;
justify-content: center;
    
}
body{
    margin: 0%;
}
.html{

    height: 300px;
    width: 1000px;
    background-color: #dfbe58;
    text-align: left;

}
.js{

    height: 300px;
    width: 1000px;
    background-color: #ce9855;
}


.css{
    height: 300px;
    width: 1000px;
    background-color: #542e07;

}


.git{
    height: 300px;
    width: 1000px;
    background-color: #FF9C37; 
}
